/* stylelint-disable property-no-unknown */

:root {
  --sxwy-menu-bg-color: #304156; // 菜单背景颜色
  --sxwy-menu-text-color: #bbb; // 菜单文字颜色
  --sxwy-menu-hover-text-color: #fff; // 菜单文字悬浮颜色
  --sxwy-menu-active-text-color: #fff; // 菜单激活时的文字颜色
}

$menuBgColor: var(--sxwy-menu-bg-color);
$menuTextColor: var(--sxwy-menu-text-color);
$menuHoverTextColor: var(--sxwy-menu-hover-text-color);
$menuActiveTextColor: var(--sxwy-menu-active-text-color);

$subMenuBgColor: var(--el-color-primary-light-3); // 子菜单背景颜色

// https://github.com/vitejs/vite/discussions/9601
:export {
  menuBgColor: $menuBgColor;
  menuTextColor: $menuTextColor;
  menuHoverTextColor: $menuHoverTextColor;
  menuActiveTextColor: $menuActiveTextColor;
  subMenuBgColor: $subMenuBgColor;
}
