/* stylelint-disable property-no-unknown */

$menuTextColor: #bfcbd9; // 菜单文字颜色
$menuActiveTextColor: #fff; // 菜单激活时的文字颜色
$subMenuActiveTextColor: #f4f4f5; // 子菜单激活时的文字颜色

$menuBgColor: #304156; // 菜单背景颜色
$subMenuBgColor: #1f2d3d; // 子菜单背景颜色

$menuHoverColor: #263445; // 菜单悬浮颜色
$subMenuHoverColor: #001528; // 子菜单悬浮颜色

$sideBarWidth: 210px; // 侧边栏宽度
$collapseSideBarWidth: 64px; // 侧边栏折叠时的宽度

$sideBarCollapseTransitionDuration: 0.3s; // 侧边栏折叠动画时长

// https://github.com/vitejs/vite/discussions/9601
:export {
  menuTextColor: $menuTextColor;
  menuActiveTextColor: $menuActiveTextColor;
  subMenuActiveTextColor: $subMenuActiveTextColor;
  menuBgColor: $menuBgColor;
  subMenuBgColor: $subMenuBgColor;
  menuHoverColor: $menuHoverColor;
  subMenuHoverColor: $subMenuHoverColor;
  sideBarWidth: $sideBarWidth;
  collapseSideBarWidth: $collapseSideBarWidth;
  sideBarCollapseTransitionDuration: $sideBarCollapseTransitionDuration;
}
